body{
background-color:black;
}
.grid{
display: flex;
flex-wrap:wrap;
justify-content:space-between;
width:610px;
height:610px;
background-color:black;
}
.grid div{
width:200px;
height:200px;
background-color: pink;
margin-bottom: 5px;
}
h1{
color:pink;
}

h2{
margin-left:280px;
color:pink;
}
.playerX{
background-image:url('x.png');
}
.player0{
background-image:url('o.png');
}